[Unit]
Description=Prometheus
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus
Group=prometheus
ExecStart={{ prometheus_bin_dir }}/prometheus \
    --config.file={{ prometheus_config_dir }}/prometheus.yml \
    --web.listen-address="0.0.0.0:9090" \
    --storage.tsdb.path={{ prometheus_db_dir }} \
    --web.console.templates=/opt/prometheus/consoles \
    --web.console.libraries=/opt/prometheus/console_libraries

[Install]
WantedBy=default.target